body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.Prompts {
    position: relative;
    display: inline;

    width: fit-content;
}

.Search{
    display: inline;

    position: relative;
}

.Search .Search {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.player-list, .alliance-list {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
}

.alliance-list--autosize h3, h2 {
    margin-bottom: 3px !important;
}

.alliance-list--autosize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: auto !important;
    max-height: none !important;
    overflow-y: visible !important;
}

.alliance-list--autosize .Left {
    flex: 1;
}

.alliance-list--autosize .Events {
    width: 80%;
}


h2.Center {
    text-align: center;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.error {
    color: red;
    text-align: center;
}

.empty-message {
    text-align: center;
    font-style: italic;
}

.alliance-list {
    max-height: 400px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}